<div class="box">
    <div class=like>
        <img src='../../assets/images/icon-minus.svg' class=minus (click)="Minus()"/>
        <h2 class=amount>{{comment.score}}</h2>
        <img src='../../assets/images/icon-plus.svg' class=plus (click)="Plus()"/>
    </div>
    <div class=comm>
        <div class='first'>
            <div class=left>
                <img src=${{comment.user.image.png}} class=av />
                <h2 class=username>{{comment.user.username}}</h2>
                <div class=time>{{comment.createdAt}}</div>
            </div>
            <div class=right *ngIf="comment.user.username=='juliusomo'?false:true">
                <img src='../../assets/images/icon-reply.svg' (click)="Reply(comment.id)" class=reply />
                <span class=rep >Reply</span>
            </div>
            <div class=right *ngIf='comment.user.username=="juliusomo" ? true:false'>
                <img *ngIf='!editInput'(click)='error()' src='../../assets/images/icon-delete.svg' class="deleteIcon"/>
                <span *ngIf='!editInput'class=delete>Delete</span>
                <img *ngIf='!editInput'(click)="edit()" src='../../assets/images/icon-edit.svg' class="editIcon"/>
                <span *ngIf='!editInput'class=edit>edit</span>
            </div>
        </div>
        <p class=par>{{comment.content}}</p>
        <textarea class="currentInput" [(ngModel)]="content" *ngIf="editInput"></textarea>
        <button  class="currentBtn"  *ngIf="editInput" (click)="send()">Reply</button>
    </div>
</div>
<div class="errorBox" *ngIf="commentErrorModel">
    <div class="error">
        <h3>Do you really want to delete it?</h3>
        <div class="buttons">
            <button class="Delete" (click)="remove(comment.id)">Delete</button>
            <button class="close" (click)="close()">Close</button>
        </div>
    </div>
</div>
<app-reply (show)="show($event)" [mainObj]="mainObj" [comment]="comment" [showInput]="showInput" [name]="comment.user.username"  class="app-reply"></app-reply>